* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("../../fonts/Raleway-Regular.eot");
  src: url("../../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-Regular.woff") format("woff"), url("../../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("../../fonts/Raleway-SemiBold.eot");
  src: url("../../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-SemiBold.woff") format("woff"), url("../../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Extra Bold';
  src: url("../../fonts/Raleway-ExtraBold.eot");
  src: url("../../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-ExtraBold.woff") format("woff"), url("../../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar .navbar__logo {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__logo p, .navbar .navbar__logo strong {
  padding: 0;
  margin: 0;
  font-size: 15pt;
}

.navbar .navbar__logo p {
  font-family: 'Raleway Regular' , sans-serif;
}

.navbar .navbar__logo strong {
  font-family: 'Raleway Extra Bold' , sans-serif;
}

.navbar .navbar__logo img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.navbar .navbar__nav a {
  font-family: 'Raleway Semibold' , sans-serif;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-size: 15pt;
  margin-right: 50px;
}

.navbar .navbar__nav a:last-child {
  margin-right: 0;
}

.navbar .navbar__nav a:hover {
  color: #061e37;
}

.navbar .navbar__button {
  font-family: 'Raleway Regular' , sans-serif;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  padding: 5px 18px;
  font-size: 12pt;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.navbar .navbar__button a {
  text-decoration: none;
  color: white;
}

.navbar .navbar__button:hover {
  background-color: white;
}

.navbar .navbar__button:hover a {
  color: #061e37;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 120px 0 190px 0;
}

.hero .hero__offer .hero__h {
  font-family: 'Raleway Extra Bold' , sans-serif;
  color: white;
  font-size: 52pt;
  margin: 0;
}

.hero .hero__offer .hero__p {
  font-family: 'Raleway Regular' , sans-serif;
  color: white;
  font-size: 16pt;
}

.hero .hero__offer .hero__button {
  font-family: 'Raleway Extra Bold' , sans-serif;
  padding: 20px 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s;
  transition: 0.15s;
  outline: none;
}

.hero .hero__offer .hero__button a {
  text-decoration: none;
  color: white;
}

.hero .hero__offer .hero__button:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.hero .hero__offer .btn1 {
  background-color: #061e37;
  color: white;
  margin-right: 30px;
}

.hero .hero__offer .btn2 {
  background-color: white;
}

.hero .hero__offer .btn2 a {
  color: #061e37;
}

.easy {
  padding: 100px 0;
  text-align: center;
}

.easy .easy__title {
  text-align: center;
  margin-bottom: 90px;
}

.easy .easy__title h1 {
  font-family: 'Raleway Semibold' , sans-serif;
  font-size: 42pt;
  color: #061e37;
  margin-bottom: 15px;
}

.easy .easy__title h3 {
  font-family: 'Raleway Semibold' , sans-serif;
  font-size: 22pt;
  color: #b0bec5;
  margin-bottom: 20px;
}

.easy .easy__title p {
  font-family: 'Raleway Regular' , sans-serif;
  font-size: 13pt;
  color: #b0bec5;
}

.easy .easy__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 80px;
}

.easy .easy__cards .easy__card {
  text-align: center;
}

.easy .easy__cards .easy__card h3 {
  font-family: 'Raleway Semibold' , sans-serif;
  font-size: 20pt;
  color: #061e37;
}

.easy .easy__cards .easy__card p {
  font-family: 'Raleway Regular' , sans-serif;
  font-size: 13pt;
  color: #78909c;
  margin: 10px;
}

.easy .easy__button {
  font-family: 'Raleway Semibold' , sans-serif;
  background-color: #1de9b6;
  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 15pt;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.easy .easy__button a {
  text-decoration: none;
  color: white;
}

.easy .easy__button:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.statistics .statistics__count {
  width: 25%;
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics .statistics__count div p {
  font-family: 'Raleway Extra Bold' , sans-serif;
  font-size: 12pt;
  margin: 0;
  color: white;
}

.statistics .statistics__count img {
  margin-right: 20px;
}

.statistics .buisness {
  background-color: #80d8ff;
}

.statistics .downloads {
  background-color: #82b1ff;
}

.statistics .installs {
  background-color: #b388ff;
}

.statistics .users {
  background-color: #ea80fc;
}

.services {
  padding: 100px 0;
}

.services .services__title {
  text-align: center;
  margin-bottom: 50px;
}

.services .services__title h1 {
  font-family: 'Raleway Semibold' , sans-serif;
  font-size: 42pt;
  color: #061e37;
  margin-bottom: 15px;
}

.services .services__title p {
  font-family: 'Raleway Regular' , sans-serif;
  font-size: 13pt;
  color: #b0bec5;
}

.services .services__service {
  width: 65%;
  border-radius: 8px;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
  margin: 0 auto 20px auto;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  position: relative;
}

.services .services__service .service__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services__service .service__header i {
  color: #061e37;
  height: 15px;
  width: auto;
  margin-right: 30px;
}

.services .services__service .service__header h3 {
  font-family: 'Raleway Semibold' , sans-serif;
  color: #061e37;
  font-size: 15pt;
  margin: 0;
}

.services .services__service .service__header .fa-sort-down {
  position: absolute;
  margin-right: 0;
  right: 30px;
}

.services .services__service .service__content {
  font-family: 'Raleway Regular' , sans-serif;
  margin-top: 20px;
  font-size: 13pt;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__service .service__content img {
  max-height: 155px;
  max-width: auto;
  margin-right: 25px;
}

.services .services__service:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.testimonials {
  background: url("../../../images/customers-bg.png") no-repeat;
  background-size: cover;
}

.testimonials .testimonials__wrapper {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.testimonials .testimonials__wrapper .testimonials__title {
  color: white;
}

.testimonials .testimonials__wrapper .testimonials__title p {
  font-family: 'Raleway Semibold' , sans-serif;
}

.testimonials .testimonials__wrapper .testimonials__title .title__h {
  font-size: 40pt;
  margin-bottom: 15px;
  margin-top: 0;
}

.testimonials .testimonials__wrapper .testimonials__title .title__p {
  font-size: 13pt;
  margin-bottom: 80px;
  margin-top: 15px;
}

.testimonials .testimonials__wrapper .testimonials__title .testimonials__button {
  font-family: 'Raleway Semibold' , sans-serif;
  text-decoration: none;
  background-color: #061e37;
  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 15pt;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.testimonials .testimonials__wrapper .testimonials__title .testimonials__button a {
  text-decoration: none;
  color: white;
}

.testimonials .testimonials__wrapper .testimonials__title .testimonials__button:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.testimonials .testimonials__wrapper .testimonials__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonials__wrapper .testimonials__customers .customers__customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.testimonials .testimonials__wrapper .testimonials__customers .customers__customer:nth-child(3) {
  margin-bottom: 0;
}

.testimonials .testimonials__wrapper .testimonials__customers .customers__customer .customer__comment {
  background-color: white;
  border-radius: 5px;
  padding: 30px 65px 30px 30px;
  text-align: left;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.13);
}

.testimonials .testimonials__wrapper .testimonials__customers .customers__customer .customer__comment .comment__nickname {
  font-family: 'Raleway Semibold' , sans-serif;
  font-size: 16pt;
  margin-top: 0;
}

.testimonials .testimonials__wrapper .testimonials__customers .customers__customer .customer__comment .comment__content {
  font-family: 'Raleway Regular' , sans-serif;
  font-size: 13pt;
  margin-bottom: 0;
}

.testimonials .testimonials__wrapper .testimonials__customers .customers__customer img {
  margin-right: 40px;
  max-width: 63px;
  max-height: 63px;
}

.testimonials .testimonials__wrapper .testimonials__customers i {
  color: white;
  cursor: pointer;
}

.testimonials .testimonials__wrapper .testimonials__customers i:hover {
  color: #061e37;
}

.testimonials .testimonials__wrapper .testimonials__customers .fa-chevron-up {
  margin-bottom: 35px;
}

.testimonials .testimonials__wrapper .testimonials__customers .fa-chevron-down {
  margin-top: 35px;
}

.team {
  padding: 100px 0;
}

.team .team__wrapper {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.team .team__wrapper .team__title {
  margin-bottom: 80px;
}

.team .team__wrapper .team__title h1 {
  font-family: 'Raleway Semibold' , sans-serif;
  font-size: 42pt;
  color: #061e37;
  margin-bottom: 15px;
}

.team .team__wrapper .team__title p {
  font-family: 'Raleway Regular' , sans-serif;
  font-size: 13pt;
  color: #b0bec5;
}

.team .team__wrapper .team__content {
  margin-bottom: 40px;
}

.team .team__wrapper .team__content h3 {
  font-family: 'Raleway Semibold' , sans-serif;
  color: #061e37;
  font-size: 16pt;
}

.team .team__wrapper .team__content p {
  font-family: 'Raleway Regular' , sans-serif;
  font-size: 13pt;
  color: #78909c;
}

.team .team__wrapper .team__content .team__photos {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team__wrapper .team__content .team__photos img {
  margin-right: 40px;
  cursor: pointer;
  opacity: 0.2;
}

.team .team__wrapper .team__content .team__photos img:last-child {
  margin-right: 0;
}

.team .team__wrapper .team__content .team__photos .photo-current {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 10px solid white;
  border-radius: 50%;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
}

.team .team__wrapper .team__content .team__social {
  margin-top: 35px;
}

.team .team__wrapper .team__content .team__social a {
  text-decoration: none;
  margin-right: 30px;
  color: #b0bec5;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.team .team__wrapper .team__content .team__social a:last-child {
  margin-right: 0;
}

.team .team__wrapper .team__content .team__social a:hover {
  color: #061e37;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background: url("../../images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */