* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("../../fonts/Raleway-Regular.eot");
  src: url("../../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-Regular.woff") format("woff"), url("../../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("../../fonts/Raleway-SemiBold.eot");
  src: url("../../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-SemiBold.woff") format("woff"), url("../../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Extra Bold';
  src: url("../../fonts/Raleway-ExtraBold.eot");
  src: url("../../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-ExtraBold.woff") format("woff"), url("../../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar .navbar__logo {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__logo p, .navbar .navbar__logo strong {
  padding: 0;
  margin: 0;
  font-size: 15pt;
}

.navbar .navbar__logo p {
  font-family: 'Raleway Regular' , sans-serif;
}

.navbar .navbar__logo strong {
  font-family: 'Raleway Extra Bold' , sans-serif;
}

.navbar .navbar__logo img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.navbar .navbar__nav a {
  font-family: 'Raleway Semibold' , sans-serif;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-size: 15pt;
  margin-right: 50px;
}

.navbar .navbar__nav a:last-child {
  margin-right: 0;
}

.navbar .navbar__nav a:hover {
  color: #061e37;
}

.navbar .navbar__button {
  font-family: 'Raleway Regular' , sans-serif;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5%;
  color: white;
  width: 100px;
  height: 40px;
  padding: 5px 18px;
  font-size: 12pt;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.navbar .navbar__button:hover {
  background-color: white;
  color: #061e37;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 120px 0 190px 0;
}

.hero .hero__offer .hero__h {
  font-family: 'Raleway Extra Bold' , sans-serif;
  color: white;
  font-size: 52pt;
  margin: 0;
}

.hero .hero__offer .hero__p {
  font-family: 'Raleway Regular' , sans-serif;
  color: white;
  font-size: 16pt;
}

.hero .hero__offer .hero__button {
  font-family: 'Raleway Extra Bold' , sans-serif;
  padding: 20px 40px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.hero .hero__offer .hero__button:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.hero .hero__offer .btn1 {
  background-color: #061e37;
  color: white;
}

.hero .hero__offer .btn2 {
  color: #061e37;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background: url("../../images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */