.team {
    padding: 100px 0;

    .team__wrapper {
        text-align: center;
        max-width: 700px;
        padding: 0 10px;
        margin: 0 auto;

        .team__title {
            margin-bottom: 80px;

            h1 {
                @include bold();
                font-size: 42px;
                color: $blue;
                margin-bottom: 15px;
            }
            p {
                @include reg();
                font-size: 15px;
                color: $gray;
            }
        }

        .team__content {
            margin-bottom: 40px;

            h3 {
                @include bold();
                color: $blue;
                font-size: 18px;
            }
            p {
                @include reg();
                font-size: 15px;
                color: $darkgray;
            }

            .team__photos {
                margin-bottom: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                
                img {
                    margin-right: 40px;
                    cursor: pointer;
                    opacity: 0.2;
                    transition: all 0.3s;
                    border-radius: 50%;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .photos__photo-current {                    
                    transform: scale(1.1);
                    border: 10px solid white;
                    opacity: 1;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
                }
            }

            .team__description {
                max-width: 655px;
            }

            .team__social {
                margin-top: 35px;

                a {
                    text-decoration: none;
                    margin-right: 30px;
                    color: $gray;
                    transition: 0.15s;

                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}