.testimonials {
    background: url('../../images/customers-bg.png') no-repeat;
    background-size: cover;

    .testimonials__wrapper{
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        .testimonials__title {
            color: white;

            p {
                @include bold();
            }
            .title__h {
                font-size: 40px;
                margin-bottom: 15px;
                margin-top: 0;
                line-height: 1.2;
            }
            .title__p {
                font-size: 15px;
                margin-bottom: 80px;
                margin-top: 15px;
            }

            .testimonials__button {
                @include bold();
                text-decoration: none;
                background-color: $blue;
                padding: 20px 30px;
                border: 1px solid transparent;
                border-radius: 8px;
                font-size: 15px;
                transition: 0.15s;
                cursor: pointer;

                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);

                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover {
                    box-shadow: none;
                    transform: translateY(3px);
                }
            }
        }

        .testimonials__customers {
            text-align: center;

            .customers__review {
                display: none;
                flex-direction: column;
                align-items: center; 

                .customers__customer {
                    display: flex;
                    align-items: center;
                    margin-bottom: 70px;
                    justify-content: flex-end;

                    &:nth-child(2) {
                        margin-bottom: 0;
                    }

                    .customer__comment {
                        background-color: white;
                        border-radius: 5px;
                        padding: 30px 65px 30px 30px;
                        text-align: left;
                        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.13);

                        .comment__nickname {
                            @include bold();
                            font-size: 18px;
                            margin-top: 0;
                        }
                        .comment__content {
                            @include regi();
                            font-size: 15px;
                            margin-bottom: 0;
                            color: #78909c;
                            line-height: 1.5;
                        }
                    }

                    img {
                        margin-right: 40px;
                        max-width: 63px;
                        max-height: 63px;
                    }
                }
            }

            .current {
                display: flex;
            }

            i {
                color: white;
                cursor: pointer;

                &:hover {
                    color: $blue;
                }
            }
            .fa-chevron-up {
                margin-bottom: 35px;
            }
            .fa-chevron-down {
                margin-top: 35px;
            }
        }
    }    
}