@font-face {
    font-family: 'Raleway Regular';
    src: url('../../fonts/Raleway-Regular.eot');
    src: url('../../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Raleway-Regular.woff') format('woff'),
    url('../../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Semibold';
    src: url('../../fonts/Raleway-SemiBold.eot');
    src: url('../../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Raleway-SemiBold.woff') format('woff'),
    url('../../fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Extra Bold';
    src: url('../../fonts/Raleway-ExtraBold.eot');
    src: url('../../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Raleway-ExtraBold.woff') format('woff'),
    url('../../fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Regular Italic';
    src: url('../../fonts/Raleway-RegularItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@mixin reg {
    font-family: 'Raleway Regular' , sans-serif;
}

@mixin bold {
    font-family: 'Raleway Semibold' , sans-serif;
}

@mixin extrabold {
    font-family: 'Raleway Extra Bold' , sans-serif;
}

@mixin regi {
    font-family: 'Raleway Regular Italic' , sans-serif;
}

