@media screen and (max-width: 768px) {

    .navbar {
        padding: 30px 0;

        .navbar__wrapper {
            justify-content: start;
            flex-direction: column;
            text-align: start;

            .navbar__logo {
                margin-bottom: 20px;
                
                p , strong {
                    text-align-last: left;
                    font-size: 13pt;
                }
                img {
                    height: auto;
                    width: auto;
                    margin-right: 10px;
                }
            }

            .navbar__nav {
                margin-bottom: 20px;
            
                a {
                    margin-right: 0;
                    display: block;
                    margin-bottom: 10px;
                    font-size: 13pt;

                    &:last-child {
                        margin: 0;
                    }
    
                    &:hover{
                        color: white;
                    }
                }
    
            }

            .navbar__button {
                padding: 6px 10px;
                font-size: 13pt;
                transition: 0;
                margin: 0;
    
                &:hover{
                    background-color: transparent;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .hero {
        padding: 50px 0;

        .hero__wrapper {
            justify-content: center;

            .hero__offer {
                text-align: center;
                
                .hero__h {
                    font-size: 26pt;
                }

                .hero__p {
                    font-size: 15pt;
                    margin-bottom: 50px;
                }

                .hero__button {
                    padding: 12px 15px;
                    border: 1px solid transparent;
                    margin: 0 auto;
                    font-size: 11pt;
                    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    transition: 0;
                    
                    &:hover {
                        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        transform: translateY(0);
                    }
                }
                .btn1 {
                    margin-right: 15px;
                }
            }
        }
    }

    .easy {
        padding: 50px 0;

        .easy__wrapper {

            .easy__title {
                margin-bottom: 50px;
    
                h1 {
                    font-size: 26pt;    
                }
                h3 {
                    font-size: 18pt;
                }
            }

            .easy__cards {
                justify-content: center;
                margin-bottom: 50px;
                flex-direction: column;
                flex-wrap: nowrap;
    
                .easy__card {
                    margin-bottom: 40px;
                    width: auto;

                    &:last-child {
                        margin-bottom: 0;
                        margin-top: 0;
                    }
    
                    h3 {
                        font-size: 18pt;
                    }
                }
            }

            .easy__button {
                padding: 15px 17px;
                font-size: 11pt;
                transition: 0;
                
                -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    
                &:hover {
                    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    transform: translateY(0);
                }
            }
        }
    }

    .statistics {

        .statistics__count {
            padding: 20px 0;
        }
    }

    .services {
        padding: 50px 0;

        .services__wrapper {

            .services__title {
    
                h1 {
                    font-size: 26pt;   
                }
            }

            .services__service {
                padding: 15px 20px;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
                transition: 0;

                .service__header {

                    .fa-sort-down {
                        font-size: 11pt;
                        right: 1em;
                    }
                }
                
                .service__content-current {
                    display: flex;
                    flex-direction: column;
    
                    img {
                        max-height: 95px;
                        max-width: auto;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
    
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }

    .testimonials {
        padding: 50px 0;

        .testimonials__wrapper {

            .testimonials__title {
                text-align: center;
                margin-bottom: 50px;

                .title__h {
                    font-size: 26pt;
                    margin-bottom: 30px;
                }
                .title__p {
                    margin-bottom: 40px;
                    margin-top: 0;
                }
    
                .testimonials__button {
                    padding: 12px 15px;
                    font-size: 11pt;
                    transition: 0;
    
                    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    
                    &:hover {
                        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        transform: translateY(0);
                    }
                }
            }

            .testimonials__customers {
    
                .customers__customer {
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    justify-content: center;
                    flex-direction: column;
    
                    &:nth-child(3) {
                        margin-bottom: 0;
                    }
    
                    .customer__comment {
                        padding: 30px;
    
                        .comment__nickname {
                            font-size: 18pt;
                        }
                        .comment__content {
                            font-size: 15pt;
                        }
                    }
    
                    img {
                        margin-right: 0;
                        max-width: auto;
                        max-height: auto;
                        margin-bottom: 15px;
                    }
                }
    
                i {
                    display: none;
                }
            }
        }
    }

    .team {
        padding: 50px 0;

        .team__wrapper {

            .team__title {
                margin-bottom: 50px;

                h1 {
                    font-size: 23pt;
                }
            }
        }
    }

    .contact {
        padding: 50px 0;

        .contact__wrapper {

            .contact__title {
                margin-bottom: 40px;
    
                h1 {
                    font-size: 23pt;
                }
            }

            .contact__form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
    
                .form, textarea {   
                    margin: 15px auto 15px auto;
                    font-size: 15pt;
                    width: 90%;
                }
                
                .contact__button {
                    padding: 20px 35px;
                    max-width: 100%;
                    font-size: 12pt;
                    transition: 0;
                    justify-self: stretch;

                    

                    &:hover {
                        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        transform: translateY(0);
                    }
                }
    
                .subscribtion {
                    margin-bottom: 20px;
                    justify-content: stretch;
    
                    #subscribe {
                        font-size: 13pt;
                    }
    
                    #subscribtion {
                        margin-right: 10px;
                    }
                }    
            }
        }
    }

    .footer {
        padding: 50px 0;

        .footer__wrapper {

            .footer__about {
                margin: 0;

                .footer__logo {
                    margin-bottom: 30px;
                    justify-content: center;
    
                    p , strong {
                        display: none;
                    }
    
                    img {
                        height: auto;
                        width: auto;
                        margin-right: 0;
                    }
                }
    
                .footer__others {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;              
    
                    a {
                        font-size: 13pt;
                        opacity: 1;
                    }
    
                    .dot {
                        font-size: 10%;
                        margin: 10px 0;
                    }
                }
            }

            .footer__links {
                display: none;
            }
        }       
    }
}

