@media screen and (max-width: 576px) {

    .hero {
        padding: 30px 0;

        .hero__wrapper {

            .hero__offer {
                
                .hero__h {
                    font-size: 23pt;
                }

                .hero__p {
                    margin-bottom: 40px;
                }

                .hero__button {
                    font-size: 10pt;
                }
                .btn1 {
                    margin-bottom: 10px;
                }
            }
        }
    }


    .easy {
        padding: 30px 0;

        .easy__wrapper {

            .easy__title {
    
                h1 {
                    font-size: 23pt;    
                }
            }

            .easy__cards {
                margin-bottom: 40px;
            }

            .easy__button {
                font-size: 10pt;
            }
        }
    }

    .services {
        padding: 30px 0;

        .services__wrapper {

            .services__title {
    
                h1 {
                    font-size: 23pt;   
                }
            }

            .services__service {
                padding: 10px 20px;

                .service__header {
                    justify-content: space-between;
    
                    .icon {
                        display: none;
                    }

                    .fa-sort-down {
                        font-size: 11pt;
                        position: static;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .testimonials {
        padding: 30px 0;

        .testimonials__wrapper{

            .testimonials__title {
                margin-bottom: 40px;
    
                .title__h {
                    font-size: 23pt;
                    margin-bottom: 20px;
                }
                .title__p {
                    margin-bottom: 30px;
                    margin-top: 0;
                }
            }
        }

    }

    .team {
        padding: 30px 0;

        .team__wrapper {

            .team__title {
                margin-bottom: 40px;
    
                h1 {
                    font-size: 23pt;
                }
                p {
                    font-size: 15pt;
                }
            }

            .team__content {

                h3 {
                    font-size: 18pt;
                }
                p {
                    font-size: 15pt;
                }

                .team__photos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    img {
                        margin-bottom: 40px;
                        margin-right: 0;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .photo-current {                    
                        border: 8px solid white;
                    }
                }

                .team__social {
                    margin-top: 35px;

                    a {
                        margin-right: 15px;
                        transition: 0;

                        &:hover {
                            color: $gray;
                        }
                    }
                }
            }
        }
    }

    .contact {
        padding: 30px 0;

        .contact__wrapper {

            .contact__title {
                margin-bottom: 30px;
    
                h1 {
                    font-size: 23pt;
                }
            }

            .contact__form {
    
                .form, textarea {   
                    margin: 15px auto 15px auto;
                    font-size: 15pt;
                    width: 90%;
                }
                
                .contact__button {
                    padding: 15px 25px;
                }   
            }
        }
    }

    .footer {
        padding: 30px 0;      
    }
}