//colors
@import './colors';

//fonts
@import 'fonts';

//navbar
@import './blocks/navbar';

//hero
@import './blocks/hero';

//easy
@import './blocks/easy';

//stats
@import './blocks/statistic';

//services
@import './blocks/services';

//testimonials
@import './blocks/testimonials';

//team
@import './blocks/team';

//contact us
@import './blocks/contact';

//footer
@import './blocks/footer';

//media queries 
@import './mediaqueries-m';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background: url('../../images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

