//Grid
@import 'grid';

//fonts
@import 'fonts';

//navbar
@import './blocks/navbar';

//hero
@import './blocks/hero';

body {
    margin: 0;
    padding: 0;
}

.header {
    background: url('../../images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

